.directive {
  width: 150px;
  font-size: 14px;
  padding: 0.8em 0;
  border: 1px solid green;
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}
.directive:hover {
  color: green;
  border: 1px solid #fff;
}
